:root {
    --col-margin: 112px;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, serif;
    color: #2a2a2a;
}
.container {
    max-width: 1320px;
    margin: auto;
    /*background-image: url("template3.png");*/
}

header {
    height: 115px;
    display: flex;
    align-items: center;
    margin: 0 var(--col-margin);
    justify-content: space-between;
    background-color: white;
}
header nav {
    height: 100%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 1.1rem;
    margin-right: -40px;
    height: 100%;
}
header nav ul li {
    padding: 0 15px;
    margin: 0 1px;
    width: 105px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-title {
    background-blend-mode: multiply;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px var(--col-margin) 80px;
}
#main-title>div {
    z-index: -1;
}
#main-title h1 {
    font-size: 4.4em;
    margin-bottom: 15px;
    font-weight: 100;
    max-width: 100px;
}
#main-title div:last-child p{
    max-width: 500px;
    line-height: 25px;
}
#gallery  {
    min-height: 650px;
    height: 140px;
    display: flex;
    justify-content: space-between;
}
.gallery-image  {
    height: 70vh;
    width: 404px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    color: white;
}
.gallery-image:hover + .gallery-image .image-info{
    display: flex;
    /*todo меняются местами*/
}
.gallery-image .image-info {
    display: none;
    padding-left: 35px;
    background-color: rgba(51, 50, 50, 0.62);
    background-blend-mode: multiply;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.gallery-image .image-info div:first-child {
    font-size: 2.2em;
    font-weight: lighter;
    padding-top: 70px;
}
.gallery-image .image-info div:last-child {
    padding-bottom: 15px;
}
#about {
    width: 100%;
}
#about img {
    width: 100%;
}
footer {
   width: 100%;
   height: 100%;
    position: fixed;
    top: 0;
    z-index: -999;
}
footer div:first-child {
    height: 50%;
    width: 100%;
}
footer div:last-child {
    height: 50%;
    width: 100%;
    background-color: orange;
}
.w-50 {
    width: 50%;
}

.d-none {
    display: none !important;
}